openapi: 3.0.0
info:
  title: Deep Linking API
  description: The Deep Linking API creates and manages Branch links programmatically — generate links at scale and tag them by channel and campaign for analytics.
  termsOfService: 'https://branch.io/policies/'
  contact:
    name: Branch Support
    url: 'https://help.branch.io/using-branch/page/submit-a-ticket'
    email: support@branch.io
  version: 1.0.1
servers:
  - url: 'https://api2.branch.io/v1'
tags:
  - name: Deep Linking API
    description: The Deep Linking API creates and manages Branch links programmatically — generate links at scale and tag them by channel and campaign for analytics.
paths:
  /url:
    post:
      tags:
        - Deep Linking API
      summary: Create Deep Link
      description: This endpoint is used to generated a deep link URL based on the parameters provided
      operationId: createDeepLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_url_request_body'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_url_200'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
    delete:
      tags:
        - Deep Linking API
      summary: Delete Deep Link
      description: |
        This endpoint is used to delete existing deep link.
        
        **Note:** This endpoint requires both **App-Level** and **Sensitive Data** permissions. 
        You must pass an Access Token (API key) to use the DELETE method. Otherwise you may see an Unauthorized User error. See the Deep Linking API Overview's Authentication 
        section for details.
      externalDocs:
        description: "Authentication requirements and setup"
        url: "https://help.branch.io/apidocs/deep-linking-api#authentication"
      operationId: deleteDeepLink
      parameters:
        - name: Access-Token
          in: header
          description: |
            The Branch Access Token of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)
          required: true
          schema:
            type: string
            example: api_app_xxxx
        - name: url
          in: query
          description: |
            The deep link url against which the details are to be fetched.
          required: true
          schema:
            type: string
            example: 'https://example.app.link/abCdEf123 '
        - name: app_id
          in: query
          description: |
            The Branch app_id against the associate deep link url
          required: true
          schema:
            type: string
            example: 123456789012345678
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_url_200'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
    get:
      tags:
        - Deep Linking API
      summary: Read Deep Link
      description: This endpoint is used retrieve the deep link url details based on the provided parameter
      operationId: readDeepLink
      parameters:
        - name: url
          in: query
          description: |
            The deep link url against which the details are to be fetched.
          required: true
          schema:
            type: string
            example: 'https://example.app.link/abCdEf123 '
        - name: branch_key
          in: query
          description: |
            The Branch key of the originating app; from your Branch Settings Dashboard
          required: true
          schema:
            type: string
            example: key_live_xxxx
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_deep_link_details_200'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
    put:
      tags:
        - Deep Linking API
      summary: Update Deep Link
      description: Updates an existing Branch deep link.
      operationId: updateDeepLink
      parameters:
        - name: url
          in: query
          description: The full URL of the deep link to update.
          required: true
          schema:
            type: string
            example: 'https://example.app.link/abCdEf123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_url_request_body'
      responses:
        '200':
          description: Deep link updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update_url_200'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
  '/url/bulk/{branch_key}':
    post:
      tags:
        - Deep Linking API
      summary: Bulk Create Deep Links
      description: This endpoint is used to generated a deep link URL based on the parameters provided
      operationId: bulkCreateDeepLinks
      parameters:
        - name: branch_key
          in: path
          description: |
            The Branch key of the originating app; from your Branch Settings Dashboard
          required: true
          schema:
            type: string
            example: key_live_xxxx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_bulk_url_request_array_body'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_bulk_url_200'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
components:
  schemas:
    create_url_200:
      type: object
      properties:
        url:
          description: Generated URL
          type: string
          example: 'https://example.app.link/abCdEf123'
    create_bulk_url_200:
      type: array
      items:
        $ref: '#/components/schemas/create_url_200'
    update_url_200:
      type: object
      properties:
        url:
          description: URL of the updated deep link.
          type: string
          example: 'https://example.app.link/abCdEf123'
        updated:
          description: Update status.
          type: boolean
          example: true
    delete_url_200:
      type: object
      properties:
        url:
          description: Deleted URL.
          type: string
          example: 'https://example.app.link/abCdEf123'
        deleted:
          description: Deletion status.
          type: boolean
          example: true
    create_url_request_body:
      type: object
      properties:
        branch_key:
          type: string
          description: 'The Branch Key of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)'
          example: key_live_xxxx
        channel:
          type: string
          description: Deep link channel
          example: facebook
        feature:
          type: string
          description: Deep link feature set
          example: onboarding
        campaign:
          type: string
          description: Campaign name
          example: new product
        stage:
          type: string
          description: ''
          example: new user
        tags:
          type: array
          description: Social media tags
          items:
            type: string
            example: one
        type:
          type: integer
          description: Default is 0
          example: 0
        domain:
          type: string
          description: Link domain
          example: mydomain.custom.com
        data:
          type: object
          properties:
            $fallback_url:
              type: string
              description: 'Change the redirect endpoint for all platforms - so you don''t have to enable it by platform. Note that Branch will forward all robots to this URL, which overrides any OG tags entered in the link. System-wide Default URL (set in Link Settings)'
              example: ''
            $fallback_url_xx:
              type: string
              description: Change the redirect endpoint for all platforms based on a lower-case Alpha-2 country code.
              example: ''
            $desktop_url:
              type: string
              description: Redirect URL for desktop devices - mobile users will default to the app store.
              example: ''
            $ios_url:
              type: string
              description: Change the redirect endpoint for iOS App Store page for your app (set in Link Settings)
              example: ''
            $ios_url_xx:
              type: string
              description: 'Change the redirect endpoint for iOS based on a lower-case Alpha-2 country code. For example, $ios_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $ipad_url:
              type: string
              description: Change the redirect endpoint for iPads. Falls back to the $ios_url value when unset.
              example: ''
            $android_url:
              type: string
              description: Change the redirect endpoint for Android Play Store page for your app (set in Link Settings)
              example: ''
            $android_url_xx:
              type: string
              description: 'Change the redirect endpoint for Android based on a lower-case Alpha-2 country code. For example, $android_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $samsung_url:
              type: string
              description: 'Redirect to Samsung Galaxy Store on Samsung devices. Only link level control. Format should be http://www.samsungapps.com/appquery/appDetail.as?appId={PACKAGE_NAME}'
              example: ''
            $huawei_url:
              type: string
              description: 'Redirect to the Huawei App Gallery on Huawei devices. Only link level control. Format should be https://appgallery.huawei.com/app/{HUAWEI_APP_GALLERY_ID}'
              example: ''
            $windows_phone_url:
              type: string
              description: Change the redirect endpoint for Windows OS Windows Phone default URL (set in Link Settings)
              example: ''
            $blackberry_url:
              type: string
              description: Change the redirect endpoint for Blackberry OS BlackBerry default URL (set in Link Settings) Deep link channel
              example: ''
            $fire_url:
              type: string
              description: Change the redirect endpoint for Amazon Fire OS Fire default URL (set in Link Settings)
              example: ''
            $ios_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on iOS devices $ios_url value
              example: ''
            $android_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on Android devices $android_url value
              example: ''
            $web_only:
              type: boolean
              description: Force to open the $fallback_url instead of the app
              example: false
            $desktop_web_only:
              type: boolean
              description: 'Force to open the $windows_desktop_url, $mac_desktop_url, $desktop_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $mobile_web_only:
              type: boolean
              description: 'Force to open the$ios_url, $android_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $after_click_url:
              type: string
              description: 'When a user returns to the browser after going to the app, take them to this URL. iOS only; Android coming soon'
              example: 'false'
            $afterclick_desktop_url:
              type: boolean
              description: 'When a user on desktop returns to the desktop browser after going to the desktop app, take them to this URL.'
              example: false
            $canonical_url:
              type: string
              description: 'This is the url set against the identifier.'
              example: 'http://www.example.com/content/123'
            $deeplink_path:
              type: string
              description: 'The value of the deep link path that you would like us to append to your URI.'
              example: 'radio/station/456'
            $og_title:
              type: string
              description: 'Set the title of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link title.'
            $og_description:
              type: string
              description: 'Set the description of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link description.'
            $og_image_url:
              type: string
              description: 'Set the image of the Deep Link as it will be seen in social media displays.'
              example: 'https://cdn.branch.io/example/og-image.png'
            ~id:
              type: string
              description: The unique ID for the link.
              example: '00000001'
            ~creation_source:
              type: string
              description: The source where the Branch Deep Link was created, represented by a number.
              example: '1'
            ~tags:
              type: array
              description: A free form entry with unlimited values of type `string`. Use it to organize your link data with labels that don't fit under other keys.
              items:
                type: string
                example: 'tag_one'
            ~campaign:
              type: string
              description: The name of the campaign associated with your link.
              example: 'fall_feature_launch'
            ~campaign_id:
              type: string
              description: The ID for the campaign associated with your link.
              example: 'data_campaign_0000'
            ~channel:
              type: string
              description: The route that your link reaches your users by.
              example: 'LinkedIn'
            ~feature:
              type: string
              description: The feature of your app associated with the link.
              example: 'referral'
            ~stage:
              type: string
              description: The progress or category of a user when the link was generated.
              example: 'level 5'
            ~marketing:
              type: string
              description: Pass `"true"` to indicate this is a Quick Link.
              example: 'true'
            ~link_type:
              type: string
              description: The Branch link type (Deep, Quick, or Ad).
              example: 'Quick'
            ~agency_id:
              type: string
              description: The ID of the relevant [agency](https://help.branch.io/partners-portal/docs/manage-agency-profile).
              example: '1111'
            ~quick_link_template_id:
              type: string
              description: The ID of the [Branch Quick Link template](https://help.branch.io/using-branch/docs/link-templates#overview) you are using.
              example: '1010'
            ~ad_link_template_id:
              type: string
              description: The ID of the [ad link template](https://help.branch.io/using-branch/docs/testing-universal-ads-campaign-setup#2-create-a-branch-link) you are using.
              example: '0101'
            ~advertising_partner_name:
              type: string
              description: The name of the relevant advertising partner.
              example: 'Facebook'
            ~creative_name:
              type: string
              description: The creative name specified for the last attributed touch.
              example: 'fall_feature_facebook'
            ~customer_placement:
              type: string
              description: The customer specified placement of the last touch. This is the actual app or website that the ad appears on display campaigns.
              example: 'company_ios_app'
            ~ad_set_name:
              type: string
              description: The ad set name specified for the last attributed touch.
              example: 'ad_group_name'
            ~ad_set_id:
              type: string
              description: The ad set ID specified for the last attributed touch.
              example: 'ad_group_id'
            ~branch_ad_format:
              type: string
              description: Possible values are `"Cross-Platform Display"` or `"App Only"`.
              example: 'Cross-Platform Display'
            ~secondary_ad_format:
              type: string
              description: Specify an ad format to help organize your analytics and make it faster to set up web fallbacks for your link.
              example: 'App Only'
        alias:
          type: string
          description: 'Instead of our standard encoded short url, you can specify the vanity alias. For example, instead of a random string of characters/integers, you can set the vanity alias as .app.link/devonaustin.'
          example: ''
        duration:
          type: integer
          description: In seconds. Only set this key if you want to override the match duration for deep link matching. This is the time that Branch allows a click to remain outstanding and be eligible to be matched with a new app session. This is default set to 7200 (2 hours).
          example: 7200
      required:
        - branch_key
    update_url_request_body:
      type: object
      properties:
        branch_key:
          type: string
          description: 'The Branch Key of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)'
          example: key_live_xxxx
        branch_secret:
          type: string
          description: 'The Branch secret of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)'
          example: secret_live_xxxx
        data:
          type: object
          properties:
            $fallback_url:
              type: string
              description: 'Change the redirect endpoint for all platforms - so you don''t have to enable it by platform. Note that Branch will forward all robots to this URL, which overrides any OG tags entered in the link. System-wide Default URL (set in Link Settings)'
              example: ''
            $fallback_url_xx:
              type: string
              description: Change the redirect endpoint for all platforms based on a lower-case Alpha-2 country code.
              example: ''
            $desktop_url:
              type: string
              description: Redirect URL for desktop devices - mobile users will default to the app store.
              example: ''
            $ios_url:
              type: string
              description: Change the redirect endpoint for iOS App Store page for your app (set in Link Settings)
              example: ''
            $ios_url_xx:
              type: string
              description: 'Change the redirect endpoint for iOS based on a lower-case Alpha-2 country code. For example, $ios_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $ipad_url:
              type: string
              description: Change the redirect endpoint for iPads. Falls back to the $ios_url value when unset.
              example: ''
            $android_url:
              type: string
              description: Change the redirect endpoint for Android Play Store page for your app (set in Link Settings)
              example: ''
            $android_url_xx:
              type: string
              description: 'Change the redirect endpoint for Android based on a lower-case Alpha-2 country code. For example, $android_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $samsung_url:
              type: string
              description: 'Redirect to Samsung Galaxy Store on Samsung devices. Only link level control. Format should be http://www.samsungapps.com/appquery/appDetail.as?appId={PACKAGE_NAME}'
              example: ''
            $huawei_url:
              type: string
              description: 'Redirect to the Huawei App Gallery on Huawei devices. Only link level control. Format should be https://appgallery.huawei.com/app/{HUAWEI_APP_GALLERY_ID}'
              example: ''
            $windows_phone_url:
              type: string
              description: Change the redirect endpoint for Windows OS Windows Phone default URL (set in Link Settings)
              example: ''
            $blackberry_url:
              type: string
              description: Change the redirect endpoint for Blackberry OS BlackBerry default URL (set in Link Settings) Deep link channel
              example: ''
            $fire_url:
              type: string
              description: Change the redirect endpoint for Amazon Fire OS Fire default URL (set in Link Settings)
              example: ''
            $ios_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on iOS devices $ios_url value
              example: ''
            $android_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on Android devices $android_url value
              example: ''
            $web_only:
              type: boolean
              description: Force to open the $fallback_url instead of the app
              example: false
            $desktop_web_only:
              type: boolean
              description: 'Force to open the $windows_desktop_url, $mac_desktop_url, $desktop_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $mobile_web_only:
              type: boolean
              description: 'Force to open the$ios_url, $android_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $after_click_url:
              type: string
              description: 'When a user returns to the browser after going to the app, take them to this URL. iOS only; Android coming soon'
              example: 'false'
            $afterclick_desktop_url:
              type: boolean
              description: 'When a user on desktop returns to the desktop browser after going to the desktop app, take them to this URL.'
              example: false
            $canonical_url:
              type: string
              description: 'This is the url set against the identifier.'
              example: 'http://www.example.com/content/123'
            $deeplink_path:
              type: string
              description: 'The value of the deep link path that you would like us to append to your URI.'
              example: 'radio/station/456'
            $og_title:
              type: string
              description: 'Set the title of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link title.'
            $og_description:
              type: string
              description: 'Set the description of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link description.'
            $og_image_url:
              type: string
              description: 'Set the image of the Deep Link as it will be seen in social media displays.'
              example: 'https://cdn.branch.io/example/og-image.png'
            ~id:
              type: string
              description: The unique ID for the link.
              example: '00000001'
            ~creation_source:
              type: string
              description: The source where the Branch Deep Link was created, represented by a number.
              example: '1'
            ~tags:
              type: array
              description: A free form entry with unlimited values of type `string`. Use it to organize your link data with labels that don't fit under other keys.
              items:
                type: string
                example: 'tag_one'
            ~campaign:
              type: string
              description: The name of the campaign associated with your link.
              example: 'fall_feature_launch'
            ~campaign_id:
              type: string
              description: The ID for the campaign associated with your link.
              example: 'data_campaign_0000'
            ~channel:
              type: string
              description: The route that your link reaches your users by.
              example: 'LinkedIn'
            ~feature:
              type: string
              description: The feature of your app associated with the link.
              example: 'referral'
            ~stage:
              type: string
              description: The progress or category of a user when the link was generated.
              example: 'level 5'
            ~marketing:
              type: string
              description: Pass `"true"` to indicate this is a Quick Link.
              example: 'true'
            ~link_type:
              type: string
              description: The Branch link type (Deep, Quick, or Ad).
              example: 'Quick'
            ~agency_id:
              type: string
              description: The ID of the relevant [agency](https://help.branch.io/partners-portal/docs/manage-agency-profile).
              example: '1111'
            ~quick_link_template_id:
              type: string
              description: The ID of the [Branch Quick Link template](https://help.branch.io/using-branch/docs/link-templates#overview) you are using.
              example: '1010'
            ~ad_link_template_id:
              type: string
              description: The ID of the [ad link template](https://help.branch.io/using-branch/docs/testing-universal-ads-campaign-setup#2-create-a-branch-link) you are using.
              example: '0101'
            ~advertising_partner_name:
              type: string
              description: The name of the relevant advertising partner.
              example: 'Facebook'
            ~creative_name:
              type: string
              description: The creative name specified for the last attributed touch.
              example: 'fall_feature_facebook'
            ~customer_placement:
              type: string
              description: The customer specified placement of the last touch. This is the actual app or website that the ad appears on display campaigns.
              example: 'company_ios_app'
            ~ad_set_name:
              type: string
              description: The ad set name specified for the last attributed touch.
              example: 'ad_group_name'
            ~ad_set_id:
              type: string
              description: The ad set ID specified for the last attributed touch.
              example: 'ad_group_id'
            ~branch_ad_format:
              type: string
              description: Possible values are `"Cross-Platform Display"` or `"App Only"`.
              example: 'Cross-Platform Display'
            ~secondary_ad_format:
              type: string
              description: Specify an ad format to help organize your analytics and make it faster to set up web fallbacks for your link.
              example: 'App Only'
        channel:
          type: string
          description: The route that your link reaches your users by
          example: Facebook
        feature:
          type: string
          description: The feature of your app associated with the link
          example: Onboarding
        campaign:
          type: string
          description: The name of the campaign associated with your link
          example: New Product
        duration:
          type: integer
          description: In seconds. Only set this key if you want to override the match duration for deep link matching. This is the time that Branch allows a click to remain outstanding and be eligible to be matched with a new app session. This is default set to 7200 (2 hours).
          example: 7200
      required:
        - branch_key
        - branch_secret
    create_bulk_url_request_array_body:
      type: array
      items:
        $ref: '#/components/schemas/create_bulk_url_object'
    create_bulk_url_object:
      type: object
      required:
        - branch_key
      properties:
        channel:
          type: string
          description: Deep link channel
          example: facebook
        feature:
          type: string
          description: Deep link feature set
          example: onboarding
        campaign:
          type: string
          description: Campaig name
          example: new product
        stage:
          type: string
          description: ''
          example: new user
        tags:
          type: array
          description: Social media tags
          items:
            type: string
            example: one
        data:
          type: object
          properties:
            $fallback_url:
              type: string
              description: 'Change the redirect endpoint for all platforms - so you don''t have to enable it by platform. Note that Branch will forward all robots to this URL, which overrides any OG tags entered in the link. System-wide Default URL (set in Link Settings)'
              example: ''
            $fallback_url_xx:
              type: string
              description: Change the redirect endpoint for all platforms based on a lower-case Alpha-2 country code.
              example: ''
            $desktop_url:
              type: string
              description: Redirect URL for desktop devices - mobile users will default to the app store.
              example: ''
            $ios_url:
              type: string
              description: Change the redirect endpoint for iOS App Store page for your app (set in Link Settings)
              example: ''
            $ios_url_xx:
              type: string
              description: 'Change the redirect endpoint for iOS based on a lower-case Alpha-2 country code. For example, $ios_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $ipad_url:
              type: string
              description: Change the redirect endpoint for iPads. Falls back to the $ios_url value when unset.
              example: ''
            $android_url:
              type: string
              description: Change the redirect endpoint for Android Play Store page for your app (set in Link Settings)
              example: ''
            $android_url_xx:
              type: string
              description: 'Change the redirect endpoint for Android based on a lower-case Alpha-2 country code. For example, $android_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $samsung_url:
              type: string
              description: 'Redirect to Samsung Galaxy Store on Samsung devices. Only link level control. Format should be http://www.samsungapps.com/appquery/appDetail.as?appId={PACKAGE_NAME}'
              example: ''
            $huawei_url:
              type: string
              description: 'Redirect to the Huawei App Gallery on Huawei devices. Only link level control. Format should be https://appgallery.huawei.com/app/{HUAWEI_APP_GALLERY_ID}'
              example: ''
            $windows_phone_url:
              type: string
              description: Change the redirect endpoint for Windows OS Windows Phone default URL (set in Link Settings)
              example: ''
            $blackberry_url:
              type: string
              description: Change the redirect endpoint for Blackberry OS BlackBerry default URL (set in Link Settings) Deep link channel
              example: ''
            $fire_url:
              type: string
              description: Change the redirect endpoint for Amazon Fire OS Fire default URL (set in Link Settings)
              example: ''
            $ios_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on iOS devices $ios_url value
              example: ''
            $android_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on Android devices $android_url value
              example: ''
            $web_only:
              type: boolean
              description: Force to open the $fallback_url instead of the app
              example: false
            $desktop_web_only:
              type: boolean
              description: 'Force to open the $windows_desktop_url, $mac_desktop_url, $desktop_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $mobile_web_only:
              type: boolean
              description: 'Force to open the$ios_url, $android_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $after_click_url:
              type: string
              description: 'When a user returns to the browser after going to the app, take them to this URL. iOS only; Android coming soon'
              example: 'false'
            $afterclick_desktop_url:
              type: boolean
              description: 'When a user on desktop returns to the desktop browser after going to the desktop app, take them to this URL.'
              example: false
            $canonical_url:
              type: string
              description: 'This is the url set against the identifier.'
              example: 'http://www.example.com/content/123'
            $deeplink_path:
              type: string
              description: 'The value of the deep link path that you would like us to append to your URI.'
              example: 'radio/station/456'
            $og_title:
              type: string
              description: 'Set the title of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link title.'
            $og_description:
              type: string
              description: 'Set the description of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link description.'
            $og_image_url:
              type: string
              description: 'Set the image of the Deep Link as it will be seen in social media displays.'
              example: 'https://cdn.branch.io/example/og-image.png'
            ~id:
              type: string
              description: The unique ID for the link.
              example: '00000001'
            ~creation_source:
              type: string
              description: The source where the Branch Deep Link was created, represented by a number.
              example: '1'
            ~tags:
              type: array
              description: A free form entry with unlimited values of type `string`. Use it to organize your link data with labels that don't fit under other keys.
              items:
                type: string
                example: 'tag_one'
            ~campaign:
              type: string
              description: The name of the campaign associated with your link.
              example: 'fall_feature_launch'
            ~campaign_id:
              type: string
              description: The ID for the campaign associated with your link.
              example: 'data_campaign_0000'
            ~channel:
              type: string
              description: The route that your link reaches your users by.
              example: 'LinkedIn'
            ~feature:
              type: string
              description: The feature of your app associated with the link.
              example: 'referral'
            ~stage:
              type: string
              description: The progress or category of a user when the link was generated.
              example: 'level 5'
            ~marketing:
              type: string
              description: Pass `"true"` to indicate this is a Quick Link.
              example: 'true'
            ~link_type:
              type: string
              description: The Branch link type (Deep, Quick, or Ad).
              example: 'Quick'
            ~agency_id:
              type: string
              description: The ID of the relevant [agency](https://help.branch.io/partners-portal/docs/manage-agency-profile).
              example: '1111'
            ~quick_link_template_id:
              type: string
              description: The ID of the [Branch Quick Link template](https://help.branch.io/using-branch/docs/link-templates#overview) you are using.
              example: '1010'
            ~ad_link_template_id:
              type: string
              description: The ID of the [ad link template](https://help.branch.io/using-branch/docs/testing-universal-ads-campaign-setup#2-create-a-branch-link) you are using.
              example: '0101'
            ~advertising_partner_name:
              type: string
              description: The name of the relevant advertising partner.
              example: 'Facebook'
            ~creative_name:
              type: string
              description: The creative name specified for the last attributed touch.
              example: 'fall_feature_facebook'
            ~customer_placement:
              type: string
              description: The customer specified placement of the last touch. This is the actual app or website that the ad appears on display campaigns.
              example: 'company_ios_app'
            ~ad_set_name:
              type: string
              description: The ad set name specified for the last attributed touch.
              example: 'ad_group_name'
            ~ad_set_id:
              type: string
              description: The ad set ID specified for the last attributed touch.
              example: 'ad_group_id'
            ~branch_ad_format:
              type: string
              description: Possible values are `"Cross-Platform Display"` or `"App Only"`.
              example: 'Cross-Platform Display'
            ~secondary_ad_format:
              type: string
              description: Specify an ad format to help organize your analytics and make it faster to set up web fallbacks for your link.
              example: 'App Only'
        alias:
          type: string
          description: 'Instead of our standard encoded short url, you can specify the vanity alias. For example, instead of a random string of characters/integers, you can set the vanity alias as .app.link/devonaustin.'
          example: ''
        type:
          type: integer
          description: 'Set type to 1, to make the URL a one-time use URL. It won''t deep link after 1 successful deep link. Default is 0, the standard Branch link behavior used by our SDKs.'
          example: 0
        duration:
          type: integer
          description: In seconds. Only set this key if you want to override the match duration for deep link matching. This is the time that Branch allows a click to remain outstanding and be eligible to be matched with a new app session. This is default set to 7200 (2 hours).
          example: 7200
    get_deep_link_details_200:
      type: object
      required:
        - branch_key
      properties:
        channel:
          type: string
          description: Deep link channel
          example: facebook
        feature:
          type: string
          description: Deep link feature set
          example: onboarding
        campaign:
          type: string
          description: Campaig name
          example: new product
        stage:
          type: string
          description: ''
          example: new user
        tags:
          type: array
          description: Social media tags
          items:
            type: string
            example: one
        data:
          type: object
          properties:
            ~channel:
              type: string
              description: 'Use channel to tag the route that your link reaches users. For example, tag links with ''Facebook'' or ''LinkedIn'' to help track clicks and installs through those paths separately'
              example: facebook
            url:
              type: string
              description: Deep link URL
              example: 'https://branch-demo.app.link/abCdEf123'
            $one_time_use:
              type: boolean
              description: ''
              example: false
            +url:
              type: string
              description: Deep link URL
              example: 'https://branch-demo.app.link/abCdEf123'
            ~creation_source:
              type: integer
              description: ''
              example: 0
            $match_duration:
              type: integer
              description: ''
              example: 7200
            $fallback_url:
              type: string
              description: 'Change the redirect endpoint for all platforms - so you don''t have to enable it by platform. Note that Branch will forward all robots to this URL, which overrides any OG tags entered in the link. System-wide Default URL (set in Link Settings)'
              example: ''
            $identity_id:
              type: string
              description: Deep link identity ID
              example: '00000000'
            $id:
              type: string
              description: Deep link URL ID
              example: '00000000'
            $fallback_url_xx:
              type: string
              description: Change the redirect endpoint for all platforms based on a lower-case Alpha-2 country code.
              example: ''
            $desktop_url:
              type: string
              description: Redirect URL for desktop devices - mobile users will default to the app store.
              example: ''
            $ios_url:
              type: string
              description: Change the redirect endpoint for iOS App Store page for your app (set in Link Settings)
              example: ''
            $ios_url_xx:
              type: string
              description: 'Change the redirect endpoint for iOS based on a lower-case Alpha-2 country code. For example, $ios_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $ipad_url:
              type: string
              description: Change the redirect endpoint for iPads. Falls back to the $ios_url value when unset.
              example: ''
            $android_url:
              type: string
              description: Change the redirect endpoint for Android Play Store page for your app (set in Link Settings)
              example: ''
            $android_url_xx:
              type: string
              description: 'Change the redirect endpoint for Android based on a lower-case Alpha-2 country code. For example, $android_url_de="..." would redirect Germany deep link clicks.'
              example: ''
            $samsung_url:
              type: string
              description: 'Redirect to Samsung Galaxy Store on Samsung devices. Only link level control. Format should be http://www.samsungapps.com/appquery/appDetail.as?appId={PACKAGE_NAME}'
              example: ''
            $huawei_url:
              type: string
              description: 'Redirect to the Huawei App Gallery on Huawei devices. Only link level control. Format should be https://appgallery.huawei.com/app/{HUAWEI_APP_GALLERY_ID}'
              example: ''
            $windows_phone_url:
              type: string
              description: Change the redirect endpoint for Windows OS Windows Phone default URL (set in Link Settings)
              example: ''
            $blackberry_url:
              type: string
              description: Change the redirect endpoint for Blackberry OS BlackBerry default URL (set in Link Settings) Deep link channel
              example: ''
            $fire_url:
              type: string
              description: Change the redirect endpoint for Amazon Fire OS Fire default URL (set in Link Settings)
              example: 'false'
            $ios_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on iOS devices $ios_url value
              example: ''
            $android_wechat_url:
              type: string
              description: Change the redirect endpoint for WeChat on Android devices $android_url value
              example: ''
            $web_only:
              type: boolean
              description: Force to open the $fallback_url instead of the app
              example: false
            $desktop_web_only:
              type: boolean
              description: 'Force to open the $windows_desktop_url, $mac_desktop_url, $desktop_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $mobile_web_only:
              type: boolean
              description: 'Force to open the$ios_url, $android_url, or $fallback_url in this order of precedence instead of the app'
              example: false
            $after_click_url:
              type: string
              description: 'When a user returns to the browser after going to the app, take them to this URL. iOS only; Android coming soon'
              example: false
            $afterclick_desktop_url:
              type: boolean
              description: 'When a user on desktop returns to the desktop browser after going to the desktop app, take them to this URL.'
              example: false
            $canonical_url:
              type: string
              description: 'This is the url set against the identifier.'
              example: 'http://www.example.com/content/123'
            $deeplink_path:
              type: string
              description: 'The value of the deep link path that you would like us to append to your URI.'
              example: 'radio/station/456'
            $og_title:
              type: string
              description: 'Set the title of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link title.'
            $og_description:
              type: string
              description: 'Set the description of the Deep Link as it will be seen in social media displays.'
              example: 'Deep Link description.'
            $og_image_url:
              type: string
              description: 'Set the image of the Deep Link as it will be seen in social media displays.'
              example: 'https://cdn.branch.io/example/og-image.png'
        alias:
          type: string
          description: 'Instead of our standard encoded short url, you can specify the vanity alias. For example, instead of a random string of characters/integers, you can set the vanity alias as .app.link/devonaustin.'
          example: ''
        type:
          type: integer
          description: 'Set type to 1, to make the URL a one-time use URL. It won''t deep link after 1 successful deep link. Default is 0, the standard Branch link behavior used by our SDKs.'
          example: 0
        duration:
          type: integer
          description: In seconds. Only set this key if you want to override the match duration for deep link matching. This is the time that Branch allows a click to remain outstanding and be eligible to be matched with a new app session. This is default set to 7200 (2 hours).
          example: 7200
    inline_response_400:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/inline_response_400_error'
    inline_response_400_error:
      type: object
      properties:
        message:
          type: string
          example: Authentication failed.
        code:
          type: integer
          example: 400
