openapi: 3.0.0
info:
  title: Data Subject Request API
  description: The Branch Data Subject Request API supports our customers with two key components of data protection laws like the General Data Protection Regulation 2016/679 (GDPR) and the California Consumer Privacy Act (CCPA) - the right to access personal data and the right to request deletion of personal data (also known as the right be forgotten).
  termsOfService: 'https://branch.io/policies/'
  contact:
    name: Branch Support
    url: 'https://help.branch.io/using-branch/page/submit-a-ticket'
    email: support@branch.io
  version: 1.0.1
servers:
  - url: 'https://api2.branch.io/v1'
tags:
  - name: Data Subject Request Branch API
    description: The Branch Data Subject Request API supports our customers with two key components of data protection laws like the General Data Protection Regulation 2016/679 (GDPR) and the California Consumer Privacy Act (CCPA) - the right to access personal data and the right to request deletion of personal data (also known as the right be forgotten).
paths:
  /gdpr:
    post:
      tags:
        - Data Subject Request Branch API
      summary: Access / Erasure
      security:
        - appId: []
          accessToken: []
      description: This endpoint access any personal data associated with known given identities from Branch Metrics.
      operationId: accessErasure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_request_body'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_post_access'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
        '404':
          description: Not Found/Incorrect API URL
          content:
            application/xml:
              schema: {}
              examples:
                Result:
                  value: |-
                    <html>
                      <head><title>404 Not Found</title></head>
                      <body bgcolor="white">
                      <center><h1>404 Not Found</h1></center>
                      <hr><center>openresty/1.13.6.2</center>
                      </body>
                    </html>
        '429':
          description: Rate limit exceeded — reduce request frequency and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "code": 429,
                            "message": "Rate limit reached."
                        }
                    }
  /gdpr/status:
    post:
      tags:
        - Data Subject Request Branch API
      summary: Download / Status Request
      security:
        - appId: []
          accessToken: []
      description: Gets the current status of the request for the given request_id generated from the Access/Erasure POST request.
      operationId: downloadStatusRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/download_status_request_body'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_post_download_status_request'
        '400':
          description: Bad request — typically an invalid or missing credential or parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "message": "Authentication failed.",
                            "code": 400
                        }
                    }
components:
  schemas:
    access_request_body:
      type: object
      required:
        - subject_request_type
      properties:
        subject_request_type:
          type: string
          description: The type of post request being sent. In this case “access”
          example: access
          enum:
            - access
            - erasure
        subject_identities:
          type: array
          items:
            $ref: '#/components/schemas/subject_identities_array'
    subject_identities_array:
      type: object
      required:
        - identity_type
        - identity_format
      properties:
        identity_type:
          type: string
          description: 'The type of identity being sent. It can be “BROWSER_ID”, “DEVICE_ID”, “USER_ID”, or “DEVELOPER_ID”.'
          enum:
            - BROWSER_ID
            - DEVICE_ID
            - USER_ID
            - DEVELOPER_ID
          example: DEVICE_ID
        identity_value:
          type: string
          description: 'The value as per the identity_type, IDFA, Google_advertising_id, etc.'
          example: XXXX-0000-xxxx
        identity_format:
          type: string
          description: To be sent as “raw”. Branch currently only supports “raw”.
          example: raw
    download_status_request_body:
      type: object
      required:
        - subject_request_type
      properties:
        request_id:
          type: string
          description: The UUID generated for the request made. This can be used to check the status of the request at a later time.
          example: XXXX-0000-xxxx
    inline_response_200_post_download_status_request:
      type: object
      properties:
        request_id:
          type: string
          example: XXXX-0000-xxxx
          description: The UUID generated for the request made. This can be used to check the status of the request at a later time.
        request_status:
          type: string
          description: |
            This is the status of your request. It can be one of 
              “SUCCESS”: The request has been fulfilled.
              “PENDING”: A correct request has been received and is currently in the queue
              “IN_PROGRESS”: The request is currently being acted on.
          example: SUCCESS
        request_type:
          type: string
          description: Request type requested by the user
          example: ACCESS
        export_url:
          type: string
          description: The pre-assigned s3 URL link to download the CSV file containing the identity objects requested.
          example: 'https://branch-exports-usw2.s3.amazonaws.com/unique-csv-file-name-here.csv?Signature=SIGNATURE%3D&AWSAccessKeyId=AWS_ACCESS_KEY&Expires=EXPIRATION'
    inline_response_200_post_access:
      type: object
      properties:
        request_id:
          type: string
          example: XXXX-0000-xxxx
          description: The UUID generated for the request made. This can be used to check the status of the request at a later time.
        request_status:
          type: string
          description: |
            This is the status of your request. It can be one of 
              “SUCCESS”: The request has been fulfilled.
              “PENDING”: A correct request has been received and is currently in the queue
              “IN_PROGRESS”: The request is currently being acted on.
          example: SUCCESS
    inline_response_400:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/inline_response_400_error'
    inline_response_400_error:
      type: object
      properties:
        message:
          type: string
          example: Authentication failed.
        code:
          type: integer
          example: 400
  securitySchemes:
    appId:
      type: apiKey
      description: app_id | Unique identifier for Branch app of requested data.
      name: app_id
      in: query
    accessToken:
      type: apiKey
      description: |
        Encapsulates your account permissions for an organization. Obtain it from the Branch Dashboard.
      name: Access-Token
      in: header
